.container {
  padding: 0 3rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  color: #ffffff;
  margin: 20vh 0 8vh 0;
}

@media (max-width: 425px) {
  h1 {
    font-size: 3.5rem;
    letter-spacing: 1rem;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 4rem;
    letter-spacing: 1rem;
  }
}
