*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  background-color: #1e1f29;
  background-image: url(./images/pattern-hills.svg), url(./images/bg-stars.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  background-size: contain, cover;
}

@media (max-width: 768px) {
  body {
    background-size: 250%, cover;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 32%;
  }

  body {
    background-size: 300%, cover;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 30%;
  }
}
